a:hover{
    text-decoration: none;
    color: inherit;
}
.align>div{
    display: inline-block;
}
.footer-menu{
    margin-right: 740px;
}
footer{
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 50px;
    background: rgba(255,110,74,0.5);
}
header{
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    background: rgba(255,110,74,0.5);;
}
.logo{
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.btn.btn-outline-success{
    border-color: #4f0c1b;
    color: #4f0c1b;
}
.btn.btn-outline-success:hover{
    background: #4f0c1b;
    color: bisque;
}
.form-inline.my-lg-0{
    margin-right: 15px;
}
.cart-and-sign-up>li{
    border: 1px solid #4f0c1b;
    border-radius:8px;
    padding: 10px;
    color: #4f0c1b;
    margin-right: 10px;
}
.cart-and-sign-up>li>a{
    color: #4f0c1b;
    padding: 10px;
}
.cart-and-sign-up>li:hover{
    background: #4f0c1b;
}
.cart-and-sign-up>li>a:hover{
    color: beige;
    text-decoration: none;
}
.nav-link{
    color: black;
    font-weight: bolder;
}
.carousel{
    width: 750px;
    height: 535px;
    margin: 0 auto;
}
.card{
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    margin-left: 35px;
    margin-top: 35px;
    margin-bottom: 30px;
}
.card img{
    width: 247px;
    height: 400px;}
.carousel-button{
    display: inline-block;
    position: absolute;
    padding: 15px;
    bottom: 105px;
    left: 80px;
    color: bisque;
    background: rgba(80, 12, 27, 0.91);
    border-radius: 5px;}
.carousel-text{
    position: absolute;
    padding: 15px;
    top: 70px;
    left: 80px;
    background: rgba(80, 12, 27, 0.91);
    border-radius: 5px;
    color: bisque;
    font-size: 25px;
}
.carousel-button:hover{
    background: rgba(112, 0, 28, 0.92);
    color: bisque;
}
.log-in-form{
    width: 450px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 35px;
}
.form-group>label{
    font-weight: bolder;
    color: #4f0c1b;
}
.register-form-align{
    margin-top: 35px;
    text-align: center;
    color: #4f0c1b;
}
.btn.btn-primary{
    background: #4f0c1b;
    color: bisque;
    border-color: firebrick;
}
h1{
    color: #4f0c1b;
}
.product-list>div{
    display: inline-block;
    color: #4f0c1b;
}
.product-price{
    font-size: 25px;
    margin-left: 160px;
}
.product-list>img{
    width: 155px;
    height: 210px;
    margin-right: 35px;
}.cart-list>li{
    margin-top: 30px;
    margin-bottom: 30px;
     list-style-type: none;
 }
 .btn-checkout{
     background: #4f0c1b;
     color: bisque;
     font-size: 20px;
     margin-left: 60px;
 }
.btn-checkout:hover{
    color: bisque;
}
.product-description{
    color: #4f0c1b;
    border: 1px solid darkgray;
    padding: 15px;
    border-radius: 15px;
}
.product-information{
    display: inline-block;
    width: 600px;
    margin-left: 35px;
}
.product-description-price{
    display: inline-block;
    font-size: 40px;
    vertical-align: top;
    margin-top: 40px;

}